<div class="map-filters filters">
  <div class="input-group">
    <label>Travel Mode</label>
    <select class="form-control" ng-model="options.mode">
      <option value="driving">Driving</option>
      <option value="walking">Walking</option>
      <option value="bicycling">Bicycling</option>
      <option value="transit">Transit</option>
    </select>
  </div>

  <div class="input-group">
    <label>Origin</label>
    <input type="text" placeholder="Enter origin address" id="origin_address" ng-blur="resetOrigin()" class="form-control"/>
  </div>

  <div class="input-group" id="waypoints_container">
    <div ng-hide="options.mode == 'TRANSIT'">
      <label>Waypoints</label>
      <div>
        <input type="text" placeholder="Enter waypoint address" class="form-control" id="waypoints"/>
        <button ng-click="addWaypoint()"
                class="btn btn-info"
                ng-disabled="waypoint === '' || reachedWaypointsLimit()"
                ng-class="{ 'btn-disabled': (waypoint === '' || reachedWaypointsLimit()) }">Add</button>
      </div>
      <div class="waypoint-info" ng-repeat="waypoint in options.waypoints track by $index">
        <p>{{ waypoint.title }}</p>
        <button ng-click="removeWaypoint($index)" class="btn btn-danger">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </div>
      <label ng-show="options.waypoints.length > 0">
        <input type="checkbox" ng-model="options.optimize"/>Optimize Waypoints
      </label>
    </div>
  </div>

  <div class="input-group">
    <label>Destination</label>
    <input type="text" placeholder="Enter destination address" id="destination_address" ng-blur="resetDestination()" class="form-control"/>
  </div>

  <div ng-show="options.mode == 'TRANSIT'">
    <div class="input-group" ng-hide='options.transitOptions.arrivalTime'>
      <label>Departure Time</label>
      <input ng-model="departure.date" class="form-control" ng-change="setDateTime('departure')" type="date"/>
      <input ng-model="departure.time" class="form-control" ng-change="setDateTime('departure')" type="time"/>
    </div>
    <div class="input-group" ng-hide='options.transitOptions.departureTime'>
      <label> Arrival Time</label>
      <input ng-model="arrival.date" class="form-control" ng-change="setDateTime('arrival')" type="date"/>
      <input ng-model="arrival.time" class="form-control" ng-change="setDateTime('arrival')" type="time"/>
    </div>
    <div class="input group">
      <label>Preferred Transit Modes</label><br/>
      <label><input type="checkbox" ng-click="togglePreferredmode('bus')"/>BUS</label><br/>
      <label><input type="checkbox" ng-click="togglePreferredmode('rail')"/>RAIL</label><br/>
      <label><input type="checkbox" ng-click="togglePreferredmode('subway')"/>SUBWAY</label><br/>
      <label><input type="checkbox" ng-click="togglePreferredmode('train')"/>TRAIN</label><br/>
      <label><input type="checkbox" ng-click="togglePreferredmode('tram')"/>TRAM</label><br/>
    </div>
    <div class="input group">
      <label>Routing Preference</label>
      <select class="form-control" ng-model="options.transitOptions.routingPreference">
        <option value="FEWER_TRANSFERS">Fewer Transfers</option>
        <option value="LESS_WALKING">Less Walking</option>
      </select>
    </div>
  </div>

  <div class="input-group" ng-hide="options.mode == 'TRANSIT'">
    <label><input type="checkbox" ng-model="options.avoid.highways">Avoid Highways</label>
    <br/>
    <label><input type="checkbox" ng-model="options.avoid.tolls">Avoid Tolls</label>
    <br/>
    <label><input type="checkbox" ng-model="options.avoid.ferries">Avoid Ferries</label>
    <br/>
    <label><input type="checkbox" ng-model="options.avoid.unpaved">Avoid Unpaved</label>
    <br/>
    <label><input type="checkbox" ng-model="options.avoid.approximateSeasonalClosure">Approximate Seasonal Closure</label>
    <br/>
    <label><input type="checkbox" ng-model="options.avoid.countryBorderCrossing">Avoid Country Border Crossing</label>
  </div>

  <div class="intput-group">
    <button type="button" class="btn btn-primary" ng-click="findRoutes()">Find Routes</button>
    <button type="button" class="btn btn-danger" ng-click="clear()">Clear</button>
  </div>

  <ul id="routes_list" ng-show="routes.length > 0">
    <li ng-repeat="route in routes track by $index"
        ng-class="{ active: displayedRoute == $index }"
        ng-click="displayRoute($index)">
      <span class="summary">
        {{ route.provider }}:
        {{ route.summary || ('Route ' + ($index + 1)) }}
        ({{ route.distance_to_text }}, {{ route.duration_to_text }})
      </span>
      <div class="route-details" ng-show="displayedRoute == $index">
        <div id="sub_routes_list">
          <span class="title">Details</span>
          <div class="sub-route" ng-repeat="leg in route.legs">
            <p>
              <span class='key'>Start Address: </span>
              <span class='value'>{{ leg.start_address }}</span>
            </p>
            <p ng-show="leg.departure_time">
              <span class='key'>Departure Time: </span>
              <span class='value'>{{ leg.departure_time.text }} ({{ leg.departure_time.time_zone }})</span>
            </p>
            <p>
              <span class='key'>End Address: </span>
              <span class='value'>{{ leg.end_address }}</span>
            </p>
            <p ng-show="leg.arrival_time">
              <span class='key'>Arrival Time: </span>
              <span class='value'>{{ leg.arrival_time.text}} ({{ leg.arrival_time.time_zone }})</span>
            </p>
            <p>
              <span class='key'>Distance: </span>
              <span class='value'>{{ leg.distance.text }}</span>
            </p>
            <p>
              <span class='key'>Duration: </span>
              <span class='value'>{{ leg.duration.text }}</span>
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<div id="map"></div>
