<div class="map-filters filters">
  <div class="input-group">
    <label>Travel Mode</label>
    <select class="form-control" ng-model="options.travelMode">
      <option value="DRIVING">Driving</option>
      <option value="WALKING">Walking</option>
      <option value="TRANSIT">Transit (experimental)</option>
      <option value="BICYCLING">Bicycling</option>
    </select>
  </div>

  <div class="input-group">
    <label>Origin</label>
    <input type="text" ng-model="origin" id="origin_address" ng-blur="resetOrigin()" class="form-control"/>
  </div>

  <div class="input-group" id="waypoints_container">
    <div ng-hide="options.travelMode == 'TRANSIT'">
      <label>Waypoints</label>
      <div>
        <input type="text" class="form-control" id="waypoints"/>
        <button ng-click="addWaypoint()" class="btn btn-info">Add</button>
      </div>
      <label><input type="checkbox" ng-model="options.optimizeWaypoints">Optimize Waypoints</label>
      <div ng-repeat="waypoint in options.waypoints track by $index">
        <span>{{ waypoint.location }}</span>
        <label>Stop Over<input type="checkbox" ng-model="waypoint.stopover"></label>
        <button ng-click="removeWaypoint($index)">Remove</button>
      </div>
    </div>
  </div>

  <div class="input-group">
    <label>Destination</label>
    <input type="text" ng-model="destination" id="destination_address" ng-blur="resetDestination()" class="form-control"/>
  </div>

  <div ng-show="options.travelMode == 'TRANSIT'">
    <div class="input-group" ng-hide='options.transitOptions.arrivalTime'>
      <label>Departure Time</label>
      <input ng-model="departure.date" class="form-control" ng-change="setDateTime('departure')" type="date"/>
      <input ng-model="departure.time" class="form-control" ng-change="setDateTime('departure')" type="time"/>
    </div>
    <div class="input-group" ng-hide='options.transitOptions.departureTime'>
      <label> Arrival Time</label>
      <input ng-model="arrival.date" class="form-control" ng-change="setDateTime('arrival')" type="date"/>
      <input ng-model="arrival.time" class="form-control" ng-change="setDateTime('arrival')" type="time"/>
    </div>
    <div class="input group">
      <label>Transit Modes</label><br/>
      <label><input type="checkbox" ng-click="toggleTravelMode('BUS')"/>BUS</label><br/>
      <label><input type="checkbox" ng-click="toggleTravelMode('RAIL')"/>RAIL</label><br/>
      <label><input type="checkbox" ng-click="toggleTravelMode('SUBWAY')"/>SUBWAY</label><br/>
      <label><input type="checkbox" ng-click="toggleTravelMode('TRAIN')"/>TRAIN</label><br/>
      <label><input type="checkbox" ng-click="toggleTravelMode('TRAM')"/>TRAM</label><br/>
    </div>
  </div>

  <div class="input-group">
    <label><input type="checkbox" ng-model="options.durationInTraffic">Estimate duration in traffic</label>
    <br/>
    <label ng-hide="options.travelMode == 'TRANSIT'"><input type="checkbox" ng-model="options.avoidHighways">Avoid Highways</label>
    <br/>
    <label ng-hide="options.travelMode == 'TRANSIT'"><input type="checkbox" ng-model="options.avoidTolls">Avoid Tolls</label>
    <br/>
  </div>
  <div class="intput-group">
    <button type="button" class="btn btn-primary" ng-click="findRoutes()">Find Routes</button>
    <button type="button" class="btn btn-danger" ng-click="clear()">Clear</button>
  </div>
  <div>
    Total results: {{ routes.length }}
    <div ng-repeat="route in routes track by $index">
      Number: {{ $index + 1 }}
      Summary: {{ route.summary }}
      Distance: {{ calculateTotalDistance(route.legs) }}
      Duration: {{ calculateTotalDuration(route.legs) }}
      <button type="button" class="btn btn-default" ng-click="displayRoute($index)" ng-hide='displayedRoute == $index'>Display</button>
    </div>
  </div>
</div>
<div id="map"></div>
