.fog {
  display: block;
  position: fixed;
  top: 0;
  background-color: rgba(132, 132, 132, 0.4);
  z-index: 10;
  width: 100%;
  height: 100%;

  p  {
    margin: 10% auto 0;
    background-color: #fff;
    width: 353px;
    text-align: center;
    padding: 20px 50px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
  }

  .loader {
    background: url('/assets/ajax-loader.gif');
    width: 32px;
    height: 32px;
    display: block;
    margin: 20px auto 0;
  }
}

.content {
}

.btn {
  outline: none !important;
}

.btn-disabled {
  background-color: #DBDCDC !important;
  border-color: #DBDCDC !important;
}

.map-filters {
  width: 300px;
  float: right;
}


#map {
}

#waypoints_container {
  input[type='text'] {
    float: left;
    margin-right: 5px;
    width: 243px;
  }

  div.waypoint-info {
    border: 2px solid #337AB7;
    margin: 10px 0 0;
    padding: 5px 10px;
    color: #337AB7;
    border-radius: 4px;
    overflow: hidden;

    p {
      float: left;
      line-height: 34px;
      width: 225px;
      margin: 0;
    }

    button {
      float: right;
    }
  }
}

#routes_list {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 42px;
  right: 300px;
  z-index: 1;
  background-color: #fff;
  border: 5px solid #5BC0DE;
  width: 600px;

  li {
    border-bottom: 1px solid #fff;
    span.summary {
      padding: 10px;
      display: block;
      background-color: #5BC0DE;
      color: #fff;
      cursor: pointer;
    }

    .route-details {
      color: #337AB7;
      padding: 5px 10px;

      div.details {
      }

      span.key {
        color: #286090;
        font-weight: bold;
      }

      span.value {
        color: #286090;
        font-size: bold;
      }

      div#sub_routes_list {
        p { margin: 0; }

        span.title {
          background-color: #337AB7;
          color: #fff;
          padding: 5px;
          display: block;
          text-align: center;
        }

        div.sub-route {
          background-color: #E3EFF3;
          border-bottom: 1px solid #fff;
          padding: 4px 10px;
        }
      }
    }
  }
}
