.content {
}

.btn {
  outline: none;
}

.btn-disabled {
  background-color: #DBDCDC !important;
  border-color: #DBDCDC !important;
}

.map-filters {
  width: 300px;
  float: right;
}


#map {
}

#waypoints_container {
  input[type='text'] {
    float: left;
    margin-right: 5px;
    width: 243px;
  }
}

#routes_list {
  list-style: none;
  padding: 0;
  margin-top: 10px;

  li {
    border-bottom: 1px solid #fff;
    span.summary {
      padding: 10px;
      display: block;
      background-color: #5BC0DE;
      color: #fff;
      cursor: pointer;
    }
  }
}
