<% content_for :javascript do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBGjfKyjIV8dni-jnl2s_mk2kvGPz7TS0c&sensor=false&v=3.exp&libraries=drawing,places" %>
<% end %>

<div ng-app="directionServicesApp" class="content">
  <ds-routes></ds-routes>
</div>
