<% content_for :javascript do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false&v=3.exp&libraries=drawing,places" %>
<% end %>

<div ng-app="directionServicesApp" ng-controller="MapCtrl" id="map_container">
  <ds-map></ds-map>
</div>
